.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: chocolate;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; //snap-type for y axis scroll
    scrollbar-width: none; //firefox only
    &::-webkit-scrollbar {
      display: none; // for other browsers
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
